// @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  background-color: #FFF;
}
.am-search-clear{
  display: none !important;
}

.blink {
  animation: blink 2s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}
.am-pull-to-refresh-indicator{
  display: none !important
}
.am-search-synthetic-ph{
    position: absolute;
    left: 11px;
}