<!DOCTYPE html>
<html lang="en">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="description" content="COVID-19 Mobile App">
    <meta name="keywords" content="Aamin Khan, COVID-19, coronavirus,corona">
    <meta name="author" content="Aamin Khan">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="manifest" href="https://raw.githubusercontent.com/aamin3189/covid/master/assets/manifest.json" />
    <link rel="apple-touch-icon" href="https://raw.githubusercontent.com/aamin3189/covid/master/assets/logo192.png" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <title>COVID-19 Dashboard</title>
    <link rel="shortcut icon" href="/covid/favicon.ico">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-77925259-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-77925259-1');
    </script>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {
      'packages':['geochart'],
      'mapsApiKey': 'AIzaSyAkcztZ-0aLKjeBKn7Ofd2yAfgcQQi9b94'
    });
  </script>
</head>


<body>
<div id="app"></div>
</body>
</html>
